

nav {
  background-color: #2c3e50; 
  padding: 15px 20px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  padding-bottom: 20px;
}

nav ul {
  list-style-type: none; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin: 0; 
  padding: 0; 
}

.nav-left {
  display: flex; 
}

nav li {
  margin: 0 15px; 
}

nav a {
  text-decoration: none; 
  color: #ecf0f1; 
  font-weight: bold; 
  transition: color 0.3s; 
}

nav a:hover {
  color: #1abc9c; 
}

nav form {
  display: flex; 
  align-items: center; 
}

.search-form {
  display: flex; 
}

nav input[type="text"] {
  padding: 8px; 
  border: none; 
  border-radius: 4px; 
  margin-right: 10px; 
  font-size: 16px; 
}

nav button {
  padding: 8px 15px; 
  background-color: #1abc9c; 
  border: none; 
  border-radius: 4px; 
  color: white; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

nav button:hover {
  background-color: #16a085; 
}
.navbar-brand
{
float:right;
}