nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  background-color: rgb(81, 80, 80);
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-card h2 {
  text-align: center;
}
